  //商家活动类型
  var filterTitle = function(activity){
    // console.log('传入的数据',activity);
    var str='';
    if(activity.type == 'shopnew') {
        str = '门店新客立减'+activity.value+'元 '
        console.log('传出的数据',str);
        return str;
    } else if(activity.type == 'shopyouhui' && activity.youhui){
      for(var i = 0;i<activity.youhui.length;i++) {
        if(i !== activity.youhui.length - 1) {
          str += "满" + activity.youhui[i].cond_count + "减" + activity.youhui[i].value + "；"
        } else {
          str += "满" + activity.youhui[i].cond_count + "减" + activity.youhui[i].value
        }
      }
      console.log('传出的数据',str);
      return str;
    } else if(activity.type == 'platnew') {
      str = "平台首单立减" + activity.value + "元"
      console.log('传出的pingtaixinke数据',str);
      return str;
    } else if(activity.type == 'getcoupon') {
      for(var i = 0;i< activity.coupons.length;i++) {
        if(i !== activity.coupons.length - 1) {
          str +=  activity.coupons[i].value + "元代金券；"
        } else {
          str +=  activity.coupons[i].value + "元代金券"
        }
      }
      return str
    }
  }
  var filterPay = function(activity){
    // console.log('传入的数据',activity);
    var str='';
    if(activity.type == 'shopnew') {
        str = '门店新客：立减'+activity.value+'元 '
        console.log('传出的数据',str);
        return str;
    } else if(activity.type == 'shopyouhui' && activity.youhui){
      for(var i = 0;i<activity.youhui.length;i++) {
        if(i !== activity.youhui.length - 1) {
          str += "满" + activity.youhui[i].cond_count + "减" + activity.youhui[i].value + ";"
        } else {
          str += "满" + activity.youhui[i].cond_count + "减" + activity.youhui[i].value
        }
      }
      str = '商家满减：' + str
      console.log('传出的数据',str);
      return str;
    } else if(activity.type == 'platnew') {
      str = "平台新客：立减" + activity.value + "元"
      console.log('传出的pingtaixinke数据',str);
      return str;
    } else if(activity.type == 'getcoupon') {
      for(var i = 0;i< activity.coupons.length;i++) {
        if(i !== activity.coupons.length - 1) {
          str += "满" + activity.coupons[i].cond_count + "减" + activity.coupons[i].value + ";"
        }
        str += "满" + activity.coupons[i].cond_count + "减" + activity.coupons[i].value
      }
      str = '优惠券：' + str
      return str
    }
  }
  var filterDistance = function(distance) {
    if(distance >= 1000) {
      distance =  (distance/1000).toFixed(1)
      return distance + 'km'
    } else {
      return distance + 'm'
    }
  }
  var filterTime = function(business_time) {
    var str = ''
    console.log('计算营业时间');
    // for(var i=0;i<arr.length;i++) {
    //   str += arr[i] + ' '
    //   console.log('i',arr[i]);
    // }
    
    console.log('str',business_time);
    return str
  }
  var formatIntro = function(text){
    if(!text){
        return
    }
    var reg = getRegExp('\\\\n','g')
    return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}
  module.exports = {
      filterTitle : filterTitle,
      filterPay: filterPay,
      filterDistance: filterDistance,
      // filterTime: filterTime,
      formatIntro: formatIntro
  }
